body{
    background-color: gray;
}

h1{
    text-align: center;

    padding: 20px 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

table{
    width: 100%;
    font-size: 25px;
}

th:hover{
    cursor: pointer;
}

th{
    padding: 50px;
}